<!DOCTYPE html>
<html>
<head>
<title>finance-tracker</title>
</head>
<body style="background-color:navy;">

<h1 style = "color:white">Stock Tracker</h1>
<p style = "color:orange">Keep track of your investments</p>

<br>



</body>
</html>